.header {
    background-color: #7e2ee7;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}
.nav {
    /* --bs-nav-link-color: rgb(168, 138, 255); */
    --bs-nav-link-hover-color: white;
}
#navBarLayout {
    text-align: center;
    line-height: auto;
    padding: 12px 0;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-link {
    color: rgba(255,255,255,0.85);
    padding: 8px;
    font-size: 18px;
}

/* section-1 */
#text-box {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
}
.text-input {
    width: 100%;
    min-height: 450px;
    resize: none;
    padding: 10px 10px 10px 10px;
	border-radius: 10px;
}
@media (max-width:576px) {
    .text-input {
        min-height: 200px;
    }
}
@media (min-width:577px) and (max-width:992px) {
    .text-input {
        min-height: 350px;
    }
}
textarea {
    outline-color: #7e2ee7;
}

/* section-2 */
.section-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    }
.result-layout {
    margin-bottom: 0px;
    color: #444444;
    }
.word-count {
    color: #702cf9;
}
.word-count-exclude-space {
    color: #8d9eff;
}
.text-bg-primary {
    background-color: RGBA(141, 114, 225,var(--bs-bg-opacity,1))!important;
}
.text-bg-danger {
    background-color: RGBA(141, 158, 255,var(--bs-bg-opacity,1))!important;
}

.section-3 {
    background-color: #844ff0d7;
    padding: 16px;
}

.section-4 {
    background: linear-gradient(#702cf9, #8456e0);
}